<nav class="navbar navbar-light" style="background-color: aliceblue;">
    <div class="container">
        <div class="row">
            <div class="col" style="font-weight: 600;">
                <label class="navbar-brand">Choose game:</label>
            </div>
            <div class="col nav-item navbar-nav" routerLinkActive="active" routerLink="circle">
                <a class="nav-link">Circle</a>
            </div>
            <div class="col nav-item navbar-nav" routerLinkActive="active" routerLink="circles">
                <a class="nav-link">Circles</a>
            </div>
            <div class="col nav-item navbar-nav" routerLinkActive="active" routerLink="radar">
                <a class="nav-link">Radar</a>
            </div>
        </div>
    </div>
</nav>