<h3 class="title">Move the Circles!</h3>

<div class="container noselect">
    <div class="canvas-container">
        <div class="canvas-wrapper">
            <canvas #canvas></canvas>
        </div>
    </div>
</div>
  
<div class="container" style="align-items: center;">
    <div class="row">
        <div class="zone">
            <ngx-joystick #staticJoystic
                (end)="onEndStatic(0)"
                (move)="onMoveStatic($event, 0)"
                [options]="joystickOptions1">
            </ngx-joystick>
        </div>
        <div class="zone">
            <ngx-joystick #staticJoystic
                (end)="onEndStatic(1)"
                (move)="onMoveStatic($event, 1)"
                [options]="joystickOptions2">
            </ngx-joystick>
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary reset-button" (click)="onReset()"><h4 style="margin: 3vw">Reset Game</h4></button>
    <!-- <div class="reset-button" (click)="onReset()">
        <h4 style="margin: 3vw">Reset Game</h4>
    </div> -->
</div>